@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --blue-color: #1992D4;
  --side-navbar-icon: #333333;
  --background-primary: #E2E8F0;
  --orange-color: #F0B429;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;
}

.navbar {
  position: absolute;
  top: 0;
  left: -9999px;
  bottom: 0;
  width: 55%;
  background-color: var(--blue-color);
  padding: 1em;
  color: white;
}

.navbar-side-title {
  display: flex;
  align-items: center;
  gap: .4em;
}

.navbar-side-title h3 {
  font-size: 1.5rem;
}

.navbar-side-button {
  fill: white;
  width: 30px;
  background-color: var(--blue-color);
}

.navbar-side-icons-group {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-left: 1em;
}

.navbar-side-icon-wrapper{
  display: flex;
  align-items: center;
  gap: 1em;
  transition: transform .25s;
  width: max-content;
  cursor: pointer;
}

.navbar-side-icon-wrapper:hover {
  transform: scale(1.1);
}

.icons-separation {
  margin-top: 3em;
}

.navbar-side-icon {
  fill: white;
  height: 30px;
}

header {
  padding: 1em;
}

button {
  border: none;
  background-color: white;
  cursor: pointer;
}

.search-and-account-option {
  display: flex;
  justify-content: space-between;
}

.navbar-toggle {
  margin-right: .5em;
}

.search {
  display: flex;
  align-items: center;
}

.search-icon {
  cursor: pointer;
}

.account-option {
  display: flex;
  align-items: center;
  gap: .3em;
}

.bell-icon {
  margin-right: .5em;
}

.search-icon:hover,
.bell-icon:hover,
.account-icon:hover,
.side-navbar-toggle:hover {
  transform: scale(1.1);
}

.header-icon {
  height: 30px;
}

.search-input {
  background-color: var(--background-primary);
  padding: 1em;
  border: none;
  height: 20px;
  width: 70%;
  border-radius: 1em;
}

.search-input:focus {
  border: none;
}

.account-name {
  font-weight: bold;
  white-space: nowrap;
}