@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --blue-color: #1992D4;
  --side-navbar-icon: #333333;
  --background-primary: #E2E8F0;
  --orange-color: #F0B429;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', 'sans-serif';
  position: relative;
  min-height: 100vh;
  background-color: var(--background-primary);
}

.navbar {
  position: absolute;
  top: 0;
  left: -9999px;
  bottom: 0;
  width: 55%;
  background-color: var(--blue-color);
  padding: 1em;
  color: white;
}

.navbar-side-title {
  display: flex;
  align-items: center;
  gap: .4em;
}

.navbar-side-title h3 {
  font-size: 1.5rem;
}

.navbar-side-button {
  fill: white;
  width: 30px;
  background-color: var(--blue-color);
}

.navbar-side-icons-group {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-left: 1em;
}

.navbar-side-icon-wrapper{
  display: flex;
  align-items: center;
  gap: 1em;
  transition: transform .25s;
  width: max-content;
  cursor: pointer;
}

.navbar-side-icon-wrapper:hover {
  transform: scale(1.1);
}

.icons-separation {
  margin-top: 3em;
}

.navbar-side-icon {
  fill: white;
  height: 30px;
}

header {
  padding: 1em;
  background-color: white;
}

button {
  border: none;
  background-color: white;
  cursor: pointer;
}

.search-and-account-option {
  display: flex;
  justify-content: space-between;
}

.navbar-toggle {
  margin-right: .5em;
}

.search {
  display: flex;
  align-items: center;
}

.search-icon {
  cursor: pointer;
}

.account-option {
  display: flex;
  align-items: center;
  gap: .3em;
}

.bell-icon {
  margin-right: .5em;
}

.search-icon:hover,
.bell-icon:hover,
.account-icon:hover,
.side-navbar-toggle:hover {
  transform: scale(1.1);
}

.header-icon {
  height: 30px;
}

.search-input {
  background-color: var(--background-primary);
  padding: 1em;
  border: none;
  height: 20px;
  width: 70%;
  border-radius: 1em;
}

.search-input:focus {
  border: none;
}

.account-name {
  font-weight: bold;
  white-space: nowrap;
}

.action-and-avatar-header {
  margin-top: .3em;
  display: flex;
  flex-direction: column;
}

.avatar-container {
  display: flex;
  align-items: center;
  gap: 1em;
}

.avatar-icon {
  height: 50px;
}

.greeting {
  font-size: .8rem;
}

.greeting,
.account-username {
  font-weight: bold;
}

.action-header {
  display: flex;
  gap: 1em;
}

.action-button {
  gap: 1em;
  background-color: var(--blue-color);
  color: white;
  padding: .5em 0em;
  width: 70px;
  border-radius: 1em;
  transition: transform .3s;
}

.action-button:hover {
  transform: scale(1.05);
  opacity: .9;
}

.section-title {
  margin-bottom: .5em;
  text-align: center;
}

.projects {
  padding: 1em;
}

.project-card {
  background-color: var(--orange-color);
  padding-left: .7em;
  border-radius: .7em;
}

.card-content {
  background-color: white;
  padding: 1em .5em;
  border-radius: 0 .7em .7em 0;
}

.card-content>h3 {
  margin-bottom: .3em;
}

.card-actions {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1em;
  margin: 2em 0 0 0;
}

.card-action-icon {
  height: 20px;
}